/*-----------------------------------------------------------------------------------------*/

.fruta_titulo{
    text-align: center;
}

div.frutas {
    margin:10px 20px; 
    margin-left: 80px;
    box-shadow: 0 4px 4px 0 green, 0 6px 20px 0 rgba(0,0,0,0.19); /*Aplicar un sombreado*/
    float: left; /*ubicar un elemento en la parte izquierda*/
    width: 350px;
    text-align: center;
    position: relative;
}

/*------------------------------------Modificar el tamaño de la pestaña fruta--------------*/
.frutas img {
   
    width: 100%;
    height: auto;
}
