<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--importar archivos bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!--importar el archivo css-->
    <link rel="stylesheet" href="../Css/estilo.css">
    <!--importar el archivo css para frutas-->
    <link rel="stylesheet" href="../Css/frutas.css">
    <title>Verdura&Hortalizas</title>

</head>

<body>
    <!--Encabezado-->
    <!-- container-fluid es una clase que indica el porcentaje que se vera el titulo a diferentes resoluciones-->
    <!--bg-success es para indicar el color de la barra de la cabezera, en este caso sera verde-->
    <!--d-flex para  ajustar el diseño, la alineación y el tamaño de las columnas, para que quede en un modelo responsive -->
    <!--justify-content-center, para que el titulo quede justificado en el centro-->
    <header class="container-fluid bg-success d-flex justify-content-center">
        <!--p-2 indica un padding 2; fs-2, es para indicar el tamaño de la letra -->
        <p class=" p-2 fs-1">AGROCASH</p>
    </header>
    
    <nav class="navbar navbar-expand-lg bg-light p-3 " id="menu"> <!--expand-lg: large, en los cuales se hace responsive cuando la resolución es menor a 992px-->
        <div class="container-fluid">
          <a class="navbar-brand fw-bold" href= "#" th:href="@{/1-1index}">Inicio</a>
          
          <!--Para que el menu colapse cuando sea responsive, el tipo del icono del menu-->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>


          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href= "#" th:href="@{/compras}"> <span fw-bold>Mis Compras</span> </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href= "#" th:href="@{/7cuenta}"> <span>Cuenta</span> </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href= "#" th:href="@{/index}"> <span>Lista de usuarios</span> </a>
              </li>

              <!--Creación del menu despegable-->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Menú
                </a>

                <!--items que contendra el dropdown o mini menu despedable -->
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href= "#" th:href="@{/3frutas}"> <span>Frutas</span> </a></li>
                  <li><a class="dropdown-item" href= "#" th:href="@{/4verduras_hortalizas}"> <span>Verduras y Hortalizas</span> </a></li>
                  <li><a class="dropdown-item" href= "#" th:href="@{/5pulpas}"> <span>Pulpas</span> </a></li>
                  <li><a class="dropdown-item" href= "#" th:href="@{/6hierbasAromaticas}"> <span>Hierbas y Aromaticas</span> </a></li>
                </ul>
              </li>
            </ul>

            <!--Creación de la barra de busqueda-->
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="¿Qué buscas?" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
          </div>
        </div>
      </nav>

      <!--Creación de una galeria para la compra de fruta-->
      <h1 class="fruta_titulo">Sección Verduras & Hortalizas</h1>
      <div class="frutas" >
            <div>
                <img src="../imagenes/Lechuga.jpg" alt="Lechuga">
                
            </div>
            <div> <h3>Lechuga</h3> </div>
            
      </div>

      <div class="frutas">
            <div>
                <img src="../imagenes/tomate.jpg" alt="Tomate">
                
            </div>
            <div> <h3>Tomate</h3> </div>
      </div>

      <div class="frutas">
            <div>
                <img src="../imagenes/Zanahorita.jpg" alt="Zanahoria">
                
            </div>
            <div> <h3>Zanahoria</h3> </div>
      </div>

      <div class="frutas">
            <div>
                <img src="../imagenes/Brocoli.jpg" alt="Brocoli">
                
            </div>
            <div> <h3>Brocolí</h3>  </div>
      </div>


    <!--opción 1: boostrap bundle with popper, sin esto el menu despegable no funciona-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
    <footer>
      <p> Número de contacto es: pbx 31585-589-874 <br>
            Corre electronico: Emprendimiento@stard.co <br>
            Dirección: Calle falsa 123
      </p>
        
    </footer> 
</body>
</html>